<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>RingCentral Call Log</title>
        <link href="./img/favicon.ico" type="image/vnd.microsoft.icon" rel="shortcut icon">
        <link href="./img/favicon.ico" type="image/vnd.microsoft.icon" rel="icon">
        <script src="./js/jquery-3.1.0.min.js"></script>
        <script src="./js/main.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="./css/bootstrap.min.css">

        <link rel="stylesheet" type="text/css" href="./css/main.css">
        <link rel="stylesheet" type="text/css" href="./css/ui.css">
    </head>
    <body>
      <nav id="menu_header" class="navbar navbar-default no-border">
        <span class="left-middle-align">
          <span class="rclogo"><a href="/"><img alt="Brand" src="img/ringcentral.png" height="40"></a></span>&nbsp;&nbsp;
          <span class="title">Call Log</span>
        </span>
        <ul class="nav navbar-nav navbar-left left-align-nav">

        </ul>
        <ul class="nav navbar-nav navbar-right middle-align">
          <li><a href="javascript:history.back()">Back</a></li>
        </ul>
      </nav>
      <section id='content'>
        <body>
          <h3>Read and Download Call Log</h3>
          <h4>Instructions:</h4>
          <ol>
              <li>Login with RingCentral account</li>
              <li>Select the "from" and "to" Date</li>
              <li>Select the "Simple" or "Detailed"</li>
              <li>Select the "Recorded Calls" and/or "Voicemail" to include any binary file</li>
              <li>Click the <b>Read Call Log</b> button</li>
              <li>Wait until the "Download Call Log (.zip)" displayed. Click the link to download the .zip file</li>
          </ol>
          <div>
            <p>The zip file name should look like this "CallLog_[DateFrom_DateTo]_[extensionId].zip"</p>
            <p>
            The folder structure should look like this:<br/>
            &nbsp;&nbsp;/CallLog_[DateFrom_DateTo]_[extensionId]<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;/voicemail<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[contentId].mp3<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[contentId].mp3<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;/recordings<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[contentId].mp3<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[contentId].mp3<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;[DateFrom_DateTo]_[extensionId].csv<br/>
            </p>
          </div>
          <div>
            Note: After download the .zip file, you can click the "Delete Call Log (.zip)" link to remove it manually from the server. Otherwise, the .zip file will be deleted automatically every day automatically.
          </div>
          <div>
            Get the project's source code from <a href="https://github.com/PacoVu/ringcentral-call-log">Github repo</a>
          </div>
        </body>
      </section>
      <%- include('_footer') %>
    </body>
</html>
