body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: white;
  color: #425563;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
}
.title{
  color: #0073ae;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 20px;
}

audio
{
  -webkit-transition:all 0.5s linear;
  -moz-transition:all 0.5s linear;
  -o-transition:all 0.5s linear;
  transition:all 0.5s linear;
  -moz-box-shadow: 2px 2px 4px 0px #006773;
  -webkit-box-shadow:  2px 2px 4px 0px #006773;
/*  box-shadow: 2px 2px 4px 0px #006773; */
  -moz-border-radius:7px 7px 7px 7px ;
  -webkit-border-radius:7px 7px 7px 7px ;
/*  border-radius:7px 7px 7px 7px ; */
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  width: 80%;
}

/*
#call_items > tbody > tr:hover{
  cursor: pointer;
  background-color: #ccc;
}
*/

tr:hover{
  cursor: pointer;
  background-color: #e0f1f9;
}

input, select {
    color: black;
    /*margin-bottom:9px;*/
}

.form-control{
  height: 25px !important;
}

.table {
  background-color: white;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  border: 1px solid #f7f7f9;
}
.td-active {
  border-bottom: 1px solid #f7f7f9;
  border-top: 0px !important;
}

.td-inactive {
  align: "left";
  vertical-align: "middle";
  font-size: 0.9em;
  border-bottom: 1px solid #f7f7f9;
}

/* Navbar stuff*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #000;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
   a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #01a982; /* #01a982; BACKGROUND color for active*/
  background-color: #fff; /*#01a982;*/
}

.navbar-brand {
  color: #fff !important;
  font-size: 22px;
}
.navbar-header {
  color: #fff !important;
}
.navbar-default {
  background-color: #fff;
  border-color: #030033;
  border-radius: 0;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
   color: #262626;
   text-decoration: none;
   background-color: #66CCFF;  /*change color of links in drop down here*/
 }

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  /*color: #0073ae !important;*/
  /*border-bottom: 2px solid #0073ae;*/
}
.tab-selected{
  text-decoration: none;
  /*background-color: silver;*/ /*Change rollover cell color here*/
  color: #0073ae !important;
  border-bottom: 2px solid #0073ae;
}
.search-block {
  margin-top: -8px !important;
  background-color: white;
  color:gray;
  margin-bottom: 10px;
}
.left-middle-align {
  margin: 10px;
  margin-top: 20px;
}
.middle-align {
  margin: 10px;
}
.no-border {
  border: 0px solid white !important;
  border-bottom: 1px solid gray !important;
}
.navbar-default .navbar-nav > li > a {
  font-size: 14px;
  color: #0073ae;
  border: 0px !important;
  padding: 0px !important;
}
/* / Navbar stuff*/
/*
a {
  color: #425563;
}
a:hover{
  color: #ff8024;
}

a:visited {

}
*/
.popover{
    max-width: 70%; /* Max Width of the popover (depending on the container!) */
    font-family: Source Sans Pro,Arial,sans-serif;
}
/*
.round-corner {
  border-color: #ff8024;
  border-style: solid;
  border-width: 3px;

  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}
*/
#content {
  padding-left: 12px;
  padding-right: 12px;
}

#more_options {
  display: none;
  background-color: CornflowerBlue;
  margin-top: 8px;
  padding: 8px;
}
.btn-rc {
  background-color: #0073ae;
  color: white;
  margin-left: 0px;
  margin-right: 10px
}

.btn-nobackbround {
  color: #425563;
  margin-left: 0px;
  margin-right: 10px
}

.btn-critical {
  background-color: #FA1705;
  margin-left: 0px;
  margin-right: 10px
}

.btn-button {
  background-color: blue;
  margin-left: 0px;
  margin-right: 20px
}

td{
  vertical-align: top;
  align-content: center;
}
.navbar-brand {
  font-family: 'Open Sans', sans-serif;
}
.form-line {
  /*height: 40px;*/
}
.column {
    float: left;
}

.left {
  width: 29%;
  margin-right: 5px;
}

.right {
    width: 70%;
}

.left_col {
  width: 40%;
  margin-right: 5px;
}
.right-col {
  width: 60%;
  margin-left: 10px;
}
.header{
  font-size: 1.0em;
  color: #425563;
}
.readtext {
  color: #01A982;
}
.word {
  color: blue; /*#AC291F;*/
}
.spoken-word {
  color: red; /*#AC291F;*/
}
.unreadtext {
  color: gray;
}
.high-relevance{
  font-size: 2.0em;
  color: #fff624;
}
.low-relevance{
  font-size: 1.3em;
  color: orange;
}
.medium-relevance{
  font-size: 1.6em;
  color: cyan;
}
.search-highlight {
  font-size: 1.1em;
  background: #fff624;
}
.keyword {
  font-size: 1.0em;
  margin-right: 10px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  cursor: pointer;
}
.scrollable_container{
  height: 400px;
  padding-right: 6px;
  overflow: scroll;
}
.scrollable_calllist{
  height: 400px;
  margin-right: 10px;
  border-bottom: 1px solid gray;
  overflow: scroll;
}
.my_canvas{
  display: none;
  height: 400px;
  margin-right: 20px;
}
.video_container{
  height: 400px;
  overflow: scroll;
}
.video_player {
  max-width: 500px;
}
.analytics_block {
  margin-left: 20px;
}
.sentiment_icon {
  width: 20px;
  height: 20px;
}
.edit_icon {
  width: 15px;
  height: 15px;
}
.call_icon {
  width: 20px;
  height: 20px;
}
#subject-field{
  border: 0px
}
#participant-field{
  border: 0px
}
.small_edit_icon {
  width: 10px;
  height: 10px;
}
.sentiment_line{
  margin-top: 12px;
  margin-bottom: 10px;
  cursor: pointer;
}
.slider-container {
  width: 220px;
}


/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 15px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 1.0; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    display: inline !important;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 0;
    background: url('/img/contrast_icon.png');
    background-size: 20px;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    background: url('/img/contrast_icon.png');
    background-size: 20px;
    cursor: pointer;
}

.positive_block {
  padding-left:5px;
  padding-right:5px;
  padding-top:3px;
  padding-bottom:3px;
  background:#b4d9ea;
  border-radius: 8px;
}

.negative_block {
  padding-left:5px;
  padding-right:5px;
  padding-top:3px;
  padding-bottom:3px;
  background:#efdce1;
  border-radius: 8px;
}
.sentiment {
  color: #080bb2;
}
#sentiment_adjust{
  padding-left:5px;
  padding-top:2px;
  padding-bottom:0px;
  /*background: #efdce1;*/
}
#analyzed_content {
  margin-top: 10px !important;
}
.dark_block{
  padding-left:5px;
  padding-top:2px;
  padding-bottom:0px;
  background:#334033;
  border-radius: 8px;
}

.header_block{
  padding:2px;
  margin-bottom: 2px;
  background:#061328;
}

.sliderPos {
    -webkit-appearance: none;
    appearance: none;
    width: 100px !important;
    height: 8px;
    background: #d3d3d3;
    outline: none;
    opacity: 1.0;
    -webkit-transition: .2s;
    transition: opacity .2s;
    display: inline !important;
}
.sliderPos-disabled {
    opacity: 0.5;
}
.sliderPos::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: #4CAF50;
    cursor: pointer;
}

.sliderPos::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: #4CAF50;
    cursor: pointer;
}

.sliderNeg {
    -webkit-appearance: none;
    appearance: none;
    width: 100px !important;
    height: 8px;
    background: #d3d3d3;
    outline: none;
    opacity: 1.0;
    -webkit-transition: .2s;
    transition: opacity .2s;
    display: inline !important;
}

.sliderNeg-disabled {
    opacity: 0.5;
}

.sliderNeg::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: #AC291F;
    cursor: pointer;
}

.sliderNeg::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: #AC291F;
    cursor: pointer;
}

.conversation_block {
  width: 100%;
}

.scol {
  width: 8%;
  min-width: 90px !important;
}
.tcol {
  margin-left: 5px;
  padding-right: 10px;
  width: 88%;
}
.transcript_brief {
  font-size: 0.9em;
}

.positive-topic {
  border: 1px solid green;
  padding: 2px;
  line-height: 2.0;
}

.negative-topic {
  border: 1px solid red;
  padding: 2px;
  line-height: 2.0;
}

.dropdown-check-list {
  display: inline-block;
}
.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
}
.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}
.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}
.dropdown-check-list ul.items li {
  list-style: none;
}
.dropdown-check-list.visible .anchor {
  color: #0094ff;
}
.dropdown-check-list.visible .items {
  display: block;
}

.display-right{
  float:right;
}
.with-border {
  border: 1px solid #f7f7f9;
}
.upper-block{
  margin-bottom:5px;
}
.hide {
  display: none;
}
.block_header{
  width: 100%;
  background:#f2f4f7;
  font-weight: bold;
}
.bold{
  font-weight: bold;
}

.multiselect-container>li>a>label {
  padding: 4px 20px 3px 20px;
}

.edit-box {
  display: none;
  position: fixed;
  width: 200px;
  height: 600px;
  left: 0%;
  top: 0%;
  border: 1px gray solid;
  z-index: 100;
}
